<!doctype html>
<html>
	{% load static%}
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>All products-clothing website</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body style="background-color:  #f7e4ff;">
	
		  <div class="container" style="background-color: #e9d0f3;">
		 <div class="navbar">
		<div class="logo">
			<a href="index.html"><img src="{% static 'images/logo.PNG'%}" width="90px" height="90"></a>
		</div>
		<nav>
		<ul id="MenuItems">
			<li><a href="">اخبار و مقالات</a></li>
			<li><a href="account.html">حساب کاربری</a></li>
			<li><a href="">درباره ما</a></li>
			<li><a href="products.html">محصولات</a></li>
			<li><a href="index.html">صفحه اصلی</a></li>
			</ul>
		</nav>
			  <a href="cart.html"><img src="{% static 'images/cart-outline.png'%}" width="30px" height="30px"></a>
			 <img src="{% static 'images/menu.png'%}" class="menu-icon" onClick="menutoggle()">
	</div>
	</div>	
	
	<!-------------single product details--------------->
	<div class="small-container single-product">
	<div class="row">
		<div class="col-2">
			<img src="{% static 'images/category100.jpg'%}" width="90%" height="90%" id="ProductImg">
			<div class="small-img-row">
			<div class="small-img-col">
				<img src="{% static 'images/category1a.jpg'%}" width="90%" height="90%" class="small-img">
				</div>
			<div class="small-img-col">
				<img src="{% static 'images/category1b.jpg'%}" width="90%" height="90%" class="small-img">
				</div>
				<div class="small-img-col">
				<img src="{% static 'images/category1c.jpg'%}" width="90%" height="90%" class="small-img">
				</div>
			</div>
			<!------------products-------->
		</div>
		<div class="col-2">
		<p dir="rtl">کاپشن-صفحه اصلی</p>
			<h1 dir="rtl">کاپشن مدل ورونیکا</h1>
		<h4 dir="rtl" lang="fa-IR">500هزار تومان</h4>
			<select >
			<option >رنگ</option>
			<option >آبی</option>
			<option >مشکی</option>
			<option >خردلی</option>
   			<option >سفید</option>
			<option >یشمی</option>
			</select>
			<select >
			<option >سایز</option>
			<option >فری سایز</option>
			</select>
			
			<input type="number" value="1">
			<a href="" class="btn" dir="rtl">اضافه کردن به سبد خرید </a>
			
			<h3 dir="rtl">جزئیات محصول</h3>
			<p dir="rtl" lang="fa-IR">ارسال فوری

         </p>
		</div>
		</div>
	</div>

	<br>
	<center> 
        <h2 class="btn">محصولات پیشنهادی</h2>
   </center>
	<br>
   		<div class="row">
		<div class="col-4">
			<a href=""><img src="{% static 'images/category5.jpg'%}" width="250px" height="380" ></a>
			<a href=""><h4 >کت مدل آروشا</h4></a>
			<div class="rating">
				<span style="font-size:20px;">&#9733;</span>
				<span style="font-size:20px;">&#9733;</span>
				<span style="font-size:20px;">&#9733;</span>
				<span style="font-size:20px;">&#9733;</span>
                <span style="font-size:20px;">&#9734;</span>
		</div>
			<p>310000 تومان</p>
		  </div>
			<div class="col-4">
				<a href=""><img src="{% static 'images/category2.jpg'%}" width="250px" height="380" ></a>
				<a href=""><h4 >کاپشن مدل ساینا</h4></a>
			<div class="rating">
				<span style="font-size:20px;">&#9733;</span>
				<span style="font-size:20px;">&#9733;</span>
				<span style="font-size:20px;">&#9733;</span>
				<span style="font-size:20px;">&#9733;</span>
                <span style="font-size:20px;">&#9734;</span>
		</div>
			<p>500000 تومان</p>
		  </div>
			<div class="col-4">
				<a href=""><img src="{% static 'images/category6.jpg'%}" width="250px" height="380" ></a>
				<a href=""><h4 >کت مدل آنیسا</h4></a>
			<div class="rating">
				<span style="font-size:20px;">&#9733;</span>
				<span style="font-size:20px;">&#9733;</span>
				<span style="font-size:20px;">&#9733;</span>
				<span style="font-size:20px;">&#9733;</span>
                <span style="font-size:20px;">&#9734;</span>
		</div>
			<p>310000 تومان</p>
		  </div>
		</div>
		<br>
		<br>
	<!---------------footer----------------->
	<div class="footer">
		<div class="container">
			<div class="row">
			<div class="footer-col-1">
				<center><h3>هدف ما ارائه محصولات درجه 1<br> به سراسر ایران است</h3></center>
					</div>
			<div class="footer-col-2">
				<img src="{% static 'images/logo.PNG'%}">
				<p>طراحی شده توسط web.ia</p>
					</div>
				<div class="footer-col-3">
				<h3>لینک های پر کاربرد</h3>
				<ul>
					<li>صفحه اصلی</li>
					<li>فروشگاه ما</li>
					<li>درباره ما</li>
					<li>راهنمای خرید و پیگیری سفارش</li>
	
	
					</ul>
					</div>
				<div class="footer-col-4">
				<h3>ما را در شبکه های اجتماعی دنبال کنید</h3>
				<ul>
					<li>اینستاگرام</li>
					<li>تلگرام</li>
					<li>واتس اپ</li>
	
	
					</ul>
					</div>
			
		</div>
		<!__________js for toggle menu-------------->
	<script>
	var MenuItems=document.getElementById("MenuItems");
		MenuItems.style.maxHeight="0px";
		function menutoggle(){
			if(MenuItems.style.maxHeight=="0px"){
				MenuItems.style.maxHeight="200px"
			}
			else
				{
					MenuItems.style.maxHeight="0px";
				}
		}
	</script>
<!--------------js for product gallery---------->
	<script>
	var ProductImg=document.getElementById("ProductImg")
	var SmallImg=document.getElementsByClassName("small-img");
		
		SmallImg[0].onclick=function(){
		ProductImg.src=SmallImg[0].src;	
		}
		SmallImg[1].onclick=function(){
		ProductImg.src=SmallImg[1].src;	
		}
		SmallImg[2].onclick=function(){
		ProductImg.src=SmallImg[2].src;	
		}
		SmallImg[3].onclick=function(){
		ProductImg.src=SmallImg[3].src;	
		}
	</script>
	
</body>
</html>
